html,
body {
  height: 100vh;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding: 5%;
}
.snake-field {
  background-color: blue;
  box-sizing: border-box;
  height: 100%;
  border: 3px solid red;
  position: relative;
}

.snake {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: yellowgreen;
}

.food {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: brown;
}

.animate-block {
  animation-name: crash;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 5;
}

@keyframes crash {
  0% {
    background-color: red;
  }

  100% {
    background-color: yellowgreen;
  }
}
